modules = ["nodejs-24", "python-3.11"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3001

[[ports]]
localPort = 24083
externalPort = 3000

[userenv]

[userenv.shared]
RAZORPAY_KEY_ID = "rzp_test_SdOaygxKgcqw7D"
RAZORPAY_KEY_SECRET = "38hV73E65icfwUFEua8V0GD3"
VAPID_PUBLIC_KEY = "BCideEsYlZHg_QO_YndmpRNXlZj716FDljlrrlS6YQCylLYw_x1iiKgdrMgQTO4y68oP1v9PvZMlqIGSBq-MRB4"
VAPID_PRIVATE_KEY = "LUIAK3lPnbV_ngw0Px7oFune1huJ0e2CPQ-o382gU50"
VAPID_EMAIL = "mailto:admin@vsysports.com"
